body{
    font-family: sans-serif;
    background-color:lightblue;
    text-align: center;
    font-size: 14px;
}

header{
    background: white;
    border-width: 2px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

table{
    background-color: white;
    text-align: left;
    border-radius: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.textfield{
    border: 1px solid #4195fc; 
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
            
    -webkit-box-shadow: 0px 0px 4px #4195fc;
    -moz-box-shadow: 0px 0px 4px #4195fc;
    box-shadow: 0px 0px 4px #4195fc;     
}

span{
    color:red;
    font-size: 12px;
    font-weight: 500;
}


#submitbtn{
    font-weight: bold;
    height: 35px;
    width: 100px;
    background: lightblue;
    border: 2px solid blue; 
    
}

#submitbtn:hover{
    background: lightgreen;
    border: lightgreen;
    border: 2px solid green;
}

footer{
    background-color:lightgray;
    padding: 20px;
    font-size: 14px;
}